@import 'variables.scss';

.TipSection {
  margin: 0px 46px;
  padding: 16px 0px;
  border-bottom: 1px solid $light-grey;
  display: flex;
  flex-direction: column;

  #tip-section-title-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    #tip-section-title {
      font-size: 24px;
      font-family: 'Zilla Slab', serif;
      font-weight: 600;
      line-height: 30px;
    }
  }
  .tip-section-content {
    max-height: 0;
    overflow: hidden;
    transition: mip-height 400ms ease-out 0s, padding-bottom 400ms ease-out 0s;

    &.displayed {
      max-height: 150px;
      padding-bottom: 32px;
    }

    #tip-chips-wrapper {
      display: flex;
      margin-bottom: 16px;

      .PercentageChip {
        margin-right: 8px;
      }
    }

    #calculated-tip-wrapper {
      #calculated-tip-label {
        margin-top : 8px;
        color: $dark-grey;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
      }
      #calculated-tip-result {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;

        #result {
          font-size: 26px;
          line-height: 32px;
          margin-right : 6px;
        }
      }
    }

    .tip-info-message {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
