@import 'variables.scss';

.Amount {
  margin: 0px 46px;
  padding-bottom: 40px;
  border-bottom: 1px solid $light-grey;
  display: flex;
  justify-content: flex-start;

  .amount-input {
    width : 50%;
    margin-right: 32px;
  }
}
