@import 'variables.scss';

.TaxSection {
  margin: 0px 46px;
  padding: 16px 0px;
  border-bottom: 1px solid $light-grey;
  display: flex;
  flex-direction: column;

  #tax-section-title-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    #tax-section-title {
      font-size: 24px;
      font-family: 'Zilla Slab', serif;
      font-weight: 600;
      line-height: 30px;
    }
  }
  .tax-section-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 400ms ease-out;

    &.displayed {
      max-height: 900px;
      padding-bottom: 32px;
    }

    #tax-chips-wrapper {
      display: flex;
      margin-bottom: 16px;

      .PercentageChip {
        margin-right: 8px;
      }
    }

    #calculated-tax-wrapper {
      #calculated-tax-label {
        margin-top : 8px;
        color: $dark-grey;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
      }
      #calculated-tax-result {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;

        #result {
          font-size: 26px;
          line-height: 32px;
          margin-right : 6px;
        }
      }
    }

    .tax-info-message {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
