@import 'variables.scss';

.SplashScreen {
  .splash-screen-overlay {
    position: absolute;
    z-index: 1;
    background-color: #000000;
    opacity: 0.8;
    width: 100%;
    height: 100vh;

    @keyframes fade-out {
      from {
        opacity: 0.8;
      }
      90% {
        visibility: initial;
      }
      to {
        opacity: 0;
        visibility: hidden;
      }
    }

    &.hidden {
      opacity: 0;
      visibility: hidden;
      animation: fade-out 500ms ease-out;
    }
  }

  .splash-screen-frame {
    position: absolute;
    z-index: 2;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;

    @keyframes slide-left {
      from {
        left: 0;
      }
      to {
        left: -100%;
      }
    }

    &.hidden {
      left: -100%;
      animation: slide-left 400ms ease-out;
    }

    @media screen and (min-width: 992px) {
      @keyframes slide-up {
        from {
          top: 0;
        }
        to {
          top: -100vh;
        }
      }

      &.hidden {
        top: -100vh;
        left: 0;
        animation: slide-up 500ms ease-out;
      }
    }
  }

  #splashscreen-logo {
    margin-top: 10vh;
    width: 100%;
  }

  #app-title {
    margin-top: 40px;
    text-align: center;
    font-weight: 300;
    font-size: 32px;

    span {
      font-family: 'Zilla Slab', serif;
      font-weight: 600;
      font-size: 36px;
    }
  }

  #app-description {
    margin-top: 8px;
    text-align: center;
    color: $dark-grey;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  .currency-select-form {
    margin-top: 40px;
    width: 100%;
  }

  #get-started-button {
    margin-top: 40px;
    width: 100%;
    padding: 21px 24px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 24px;
  }
}
