@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: fixed;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

div.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

div.row {
  margin-right: 0px;
  margin-left: 0px;
}

div.col-1,
div.col-10,
div.col-11,
div.col-12,
div.col-2,
div.col-3,
div.col-4,
div.col-5,
div.col-6,
div.col-7,
div.col-8,
div.col-9,
div.col-lg-1,
div.col-lg-10,
div.col-lg-11,
div.col-lg-12,
div.col-lg-2,
div.col-lg-3,
div.col-lg-4,
div.col-lg-5,
div.col-lg-6,
div.col-lg-7,
div.col-lg-8,
div.col-lg-9,
div.col-md-1,
div.col-md-10,
div.col-md-11,
div.col-md-12,
div.col-md-2,
div.col-md-3,
div.col-md-4,
div.col-md-5,
div.col-md-6,
div.col-md-7,
div.col-md-8,
div.col-md-9,
div.col-sm-1,
div.col-sm-10,
div.col-sm-11,
div.col-sm-12,
div.col-sm-2,
div.col-sm-3,
div.col-sm-4,
div.col-sm-5,
div.col-sm-6,
div.col-sm-7,
div.col-sm-8,
div.col-sm-9,
div.col-xs-1,
div.col-xs-10,
div.col-xs-11,
div.col-xs-12,
div.col-xs-2,
div.col-xs-3,
div.col-xs-4,
div.col-xs-5,
div.col-xs-6,
div.col-xs-7,
div.col-xs-8,
div.col-xs-9 {
  padding-left: 0;
  padding-right: 0;
}
